<html>
    {% extends 'base.html' %}

    {% block contents %}
    <body>  
        {% for blog in blogs.all %}
        <div class="container">
            <br><br>
            <div class="card" style="width: 60rem;">
                <div class="card-body">
                    <h5 class="card-title"> {{blog.title}} </h5>
                    <h6 class="card-subtitle mb-2 text-muted"> {{blog.pub_date}} </h6>
                    <p class="card-text"> {{blog.summary}} <a href="{% url 'detail' blog.id %}">...more</a> </p>    
                </div>
            </div>
        </div>
        {% endfor %}
    </body>
    {% endblock %}
</html>

